@using BankManagement.Models.DAO
@{
    ViewBag.Title = "Tạo tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .container {
        margin-top: 10px;
        padding: 32px;
    }

    .select-box {
        display: flex;
        width: 250px;
        flex-direction: column;
    }

        .select-box .options-container {
            background: #2f3640;
            color: #f5f6fa;
            max-height: 0;
            width: 250px;
            opacity: 0;
            transition: all 0.4s;
            border-radius: 8px;
            overflow: hidden;
            position: absolute;
            order: 1;
        }

    .selected {
        background: #2f3640;
        border-radius: 8px;
        margin-bottom: 8px;
        color: #f5f6fa;
        position: relative;
        order: 0;
    }

        .selected::after {
            content: "";
            background: url("https://www.freeiconspng.com/uploads/white-down-arrow-png-2.png");
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            height: 100%;
            width: 32px;
            right: 10px;
            top: 5px;
            transition: all 0.4s;
        }

    .select-box .options-container.active {
        max-height: 240px;
        opacity: 1;
        overflow-y: scroll;
    }

        .select-box .options-container.active + .selected::after {
            transform: rotateX(180deg);
            top: -6px;
        }

    .select-box .options-container::-webkit-scrollbar {
        width: 8px;
        background: #0d141f;
        border-radius: 0 8px 8px 0;
    }

    .select-box .options-container::-webkit-scrollbar-thumb {
        background: #525861;
        border-radius: 0 8px 8px 0;
    }

    .select-box .option,
    .selected {
        padding: 12px 24px;
        cursor: pointer;
    }

        .select-box .option:hover {
            background: #414b57;
        }

    .select-box label {
        cursor: pointer;
    }

    .select-box .option .radio {
        display: none;
    }




    .container1 {
        margin-top: 10px;
        padding: 32px;
    }

    .select-box1 {
        display: flex;
        width: 250px;
        flex-direction: column;
    }

        .select-box1 .options-container1 {
            background: #2f3640;
            color: #f5f6fa;
            max-height: 0;
            width: 250px;
            opacity: 0;
            transition: all 0.4s;
            border-radius: 8px;
            overflow: hidden;
            position: absolute;
            order: 1;
        }

    .selected1 {
        background: #2f3640;
        border-radius: 8px;
        margin-bottom: 8px;
        color: #f5f6fa;
        position: relative;
        order: 0;
    }

        .selected1::after {
            content: "";
            background: url("https://www.freeiconspng.com/uploads/white-down-arrow-png-2.png");
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            height: 100%;
            width: 32px;
            right: 10px;
            top: 5px;
            transition: all 0.4s;
        }

    .select-box1 .options-container1.active1 {
        max-height: 240px;
        opacity: 1;
        overflow-y: scroll;
    }

        .select-box1 .options-container1.active1 + .selected1::after {
            transform: rotateX(180deg);
            top: -6px;
        }

    .select-box1 .options-container1::-webkit-scrollbar {
        width: 8px;
        background: #0d141f;
        border-radius: 0 8px 8px 0;
    }

    .select-box1 .options-container1::-webkit-scrollbar-thumb {
        background: #525861;
        border-radius: 0 8px 8px 0;
    }

    .select-box1 .option1,
    .selected1 {
        padding: 12px 24px;
        cursor: pointer;
    }

        .select-box1 .option1:hover {
            background: #414b57;
        }

    .select-box1 label {
        cursor: pointer;
    }

    .select-box1 .option1 .radio1 {
        display: none;
    }

    #combobox {
        display: flex;
        width: 600px;
        margin-left: -25px;
    }

    #invalid {
        position: absolute;
        background: rgba(77, 74, 74, 0.4);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: none;
        z-index: 100000;
        justify-content: center;
        align-items: center;
    }

    #www {
        background: white;
        height: auto;
        width: 400px;
        border-radius: 10px;
        padding-bottom: 30px;
    }

    #vvv {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Open Sans', sans-serif;
    }

    #btnsm1 {
        height: 55px;
        width: 300px;
        border-radius: 10px;
        border: none;
        margin-top: 20px;
        background: linear-gradient(-90deg,rgb(0,108, 173),rgb(0,182,174));
        color: white;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
    }

        #btnsm1:hover {
            background: linear-gradient(90deg,rgb(0,108, 173),rgb(0,182,174));
        }



    #ttgd {
        width: 78%;
        height: auto;
        margin-left: 11%;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        padding: 20px;
    }

    .D1 {
        margin-top: 30px;
        display: flex;
        border-bottom: 2px solid rgb(61, 132, 199);
        width: 70%;
        justify-content: space-between;
    }

    .ipmoney {
        font-size: 20px;
        width: 250%;
        margin-bottom: 2px;
        border: none;
        outline: none;
    }

    #btnsm {
        width: 300px;
        height: 50px;
        margin: 20px 0px 0px 0px;
        border-radius: 10px;
        border: none;
        background: linear-gradient(-90deg,rgb(0,108, 173),rgb(0,182,174));
        color: white;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;
    }

        #btnsm:hover {
            background: linear-gradient(90deg,rgb(0,108, 173),rgb(0,182,174));
        }

    #gender {
        align-self: flex-start;
        margin-left: 122px;
        font-size: 20px;
        margin-top: 20px;
    }

    .error {
        color: red;
        font-size: 18px;
        display: none;
    }

    #sh {
        width: 80%;
        text-align: center;
    }

    #load {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: none;
        z-index: 1000000000000;
        background: rgba(77, 74, 74, 0.4);
    }

    .loader {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10000000000000000000000;
        display: block;
        overflow: hidden;
    }

    .icon22 {
        font-size: 80px;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -40px;
        margin-left: -40px;
    }

    .xoay {
        animation: xoay 1.5s linear infinite;
        -moz-animation: xoay 1.5s linear infinite;
        -ms-animation: xoay 1.5s linear infinite;
        -o-animation: xoay 1.5s linear infinite;
        -webkit-animation: xoay 1.5s linear infinite;
    }

    @@-webkit-keyframes xoay {
        from {
            -ms-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        to {
            -ms-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
</style>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <em class="fa fa-home"></em>
                </a>
            </li>
            <li class="active">Tạo tài khoản</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tạo tài khoản</h1>
        </div>
    </div><!--/.row-->
    <form id="form">
        <div id="ttgd">
            <div class="D1">
                <input id="A1" class="ipmoney" placeholder="Họ tên" />
            </div>
            <div class="D1">
                <input id="A2" class="ipmoney" placeholder="CMND" />
            </div>
            <div class="D1">
                <input id="A3" class="ipmoney" placeholder="Ngày sinh" type="text" onfocus="(this.type='date')" />
            </div>
            <div class="D1">
                <input id="A4" class="ipmoney" placeholder="Số điện thoại" />
            </div>
            <div id="combobox">
                <div class="container">
                    <div class="select-box">
                        <div class="options-container">
                            <div class="option">
                                <input type="radio" class="radio" id="0" name="category" />
                                <label for="automobiles">none</label>
                            </div>
                            @foreach (var i in GetAddressDAO.Instance.ListProvince)
                            {
                                <div class="option">
                                    <input type="radio" class="radio" id=@i.ID name="category" />
                                    <label for="automobiles">@i.NameProvince</label>
                                </div>
                            }

                        </div>

                        <div class="selected">
                            Tỉnh/Thành phố
                        </div>
                    </div>
                </div>

                <div class="container1">
                    <div class="select-box1">
                        <div class="options-container1">
                        </div>

                        <div class="selected1">
                            Quận/Huyện
                        </div>
                    </div>
                </div>
            </div>
            <div class="D1" style="margin-top:-15px;">
                <input id="A6" class="ipmoney" placeholder="Tên đường/Phường xã" />
            </div>
            <div class="D1">
                <input id="A5" class="ipmoney" placeholder="Email" />
            </div>
            <div id="gender">
                <div>Giới tính</div>
                <div class="form-check" id="nam">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Nam
                    </label>
                </div>

                <div class="form-check" id="nu">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Nữ
                    </label>
                </div>
            </div>
            <div class="error">Vui lòng nhập đầy đủ thông tin</div>
            <div id="submit">
                <button id="btnsm">Tiếp tục</button>
            </div>
        </div>
    </form>
    <div id="load">
        <div class="loader">
            <span class="fas fa-spinner xoay icon22"></span>
        </div>
    </div>
</div>
<div id="invalid">
    <div id="www">
        <form id="sm" action="#">
            <div id="vvv">
                <div style="margin-top: 40px;"><img id="imgx" src="https://smartbanking.bidv.com.vn/assets/media/graph/success.svg"></div>
                <div style="margin-top: 10px; font-size:22px;font-weight: 600;" id="eee">Đăng kí tài khoản thành công</div>
                <div id="sh"><p class="p3">Thông tin tài khoản đã được gửi về Email đăng kí của khách hàng.</p></div>
                <div id="submit1">
                    <button id="btnsm1">Tiếp tục</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
    var gender = 0;

    $(document).ready(function () {
        $("#homepage").attr("class", "#");
        $("#qlhk").attr("class", "active");
        $("#findaccount").attr("class", "active");
        $("#nam").click(function () {
            gender = 1;
        })
        $("#nu").click(function () {
            gender = 0;
        })
        $(".option").click(function () {
            $.ajax({
                url: '/Admin/CreateAccount/GetNameDistrictByProvince',
                type: "POST",
                data: { Province: $(".selected").text() },
                success: function (data) {
                    var html = "";
                    html += "<div class='option1'>";
                    html += "<input type='radio' class='radio1' id='0' name='category' />";
                    html += " <label for='automobiles'>" + "none" + "</label>";
                    html += "</div>";
                    for (let i = 0; i < data.length; i++) {
                        html += "<div class='option1'>";
                        html += "<input type='radio' class='radio1' id=" + i + " name='category' />";
                        html += " <label for='automobiles'>" + data[i] + "</label>";
                        html += "</div>";
                    }
                    $(".options-container1").html(html);
                    const optionsList1 = document.querySelectorAll(".option1");
                    optionsList1.forEach(o => {
                        o.addEventListener("click", () => {
                            selected1.innerHTML = o.querySelector("label").innerHTML;
                            optionsContainer1.classList.remove("active1");
                        });
                    });
                }
            });
        });
        $("#form").submit(e => {
            $("#load").css("display", "block");
            if ($("#A1").val() != "" && $("#A2").val() != "" && $("#A3").val() != "" && $("#A4").val() != "" && $("#A5").val() != "" && $("#A6").val() != "" && $(".selected1").text().trim() != "Quận/Huyện" && $(".selected").text().trim() != "Tỉnh/Thành phố") {
                $(".error").css("display", "none");
                $.ajax({
                    url: '/Admin/CreateAccount/CheckInfoCustomer',
                    type: "POST",
                    data: { Name: $("#A1").val(), CMND: $("#A2").val(), NS: $("#A3").val(), SDT: $("#A4").val(), Tinh: $(".selected").text(), Huyen: $(".selected1").text(), DiaChi: $("#A6").val(), Email: $("#A5").val(), Gender: gender },
                    success: function (data) {
                        $("#load").css("display", "none");
                        if (data == true) {
                            $("html, body").animate({ scrollTop: 0 }, "slow");
                            $("#invalid").css("display", "flex");
                        }
                        else {
                            $("html, body").animate({ scrollTop: 0 }, "slow");
                            $("#invalid").css("display", "flex");
                            $("#imgx").attr("src", "https://smartbanking.bidv.com.vn/assets/media/graph/error.svg");
                            $(".p3").text("Thông tin cá nhân đã có trong hệ thống. Vui lòng kiểm tra lại");
                        }
                    }
                });
            }

            else if (!checkEmail()) {
                $(".error").css("display", "block");
                $(".error").text("Email không hợp lệ");
            }
            else {
                $(".error").css("display", "block");

            }
            e.preventDefault();
        });

        $("#ico").hover(function () {
            $(".a1").css("display", "block");
        }, function () {
            $(".a1").css("display", "none");
        });
        $("#sm").submit(e => {
            if ($("#imgx").attr("src") == "https://smartbanking.bidv.com.vn/assets/media/graph/error.svg") {
                $("#invalid").css("display", "none");
            }
            else {
                window.location.href = "/Admin/HomePage/Index";
            }
            e.preventDefault();
        });
        function checkEmail() {
            var email = document.getElementById('A5');
            var filter = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            if (!filter.test(email.value)) {
                email.focus;
                return false;
            }
            else {
                return true;
            }
        }
    });
</script>
<script>
    const selected = document.querySelector(".selected");
    const optionsContainer = document.querySelector(".options-container");

    const optionsList = document.querySelectorAll(".option");

    selected.addEventListener("click", () => {
        optionsContainer.classList.toggle("active");
    });

    optionsList.forEach(o => {
        o.addEventListener("click", () => {
            selected.innerHTML = o.querySelector("label").innerHTML;
            optionsContainer.classList.remove("active");
            $(".selected1").text("Quận/Huyện");

        });
    });
    const selected1 = document.querySelector(".selected1");
    const optionsContainer1 = document.querySelector(".options-container1");
    selected1.addEventListener("click", () => {
        if ($(".selected").text().trim() != "Tỉnh/Thành phố") {
            optionsContainer1.classList.toggle("active1");
        }
    });
</script>

